@import 'vars.scss';

footer {
    padding: 40px 0 20px;
    box-shadow: 5px 5px 5px #d1d9e6, -5px -5px 5px #f9f9f9;
    .container h2 {
        margin-bottom: 40px;
    }
}


.footer-content {
    margin-bottom: 20px;
    a {
        font-size: 24px;
        &:hover {
            color: $accent-clr;
        }
    }
    h5 {
        text-align: center;
    }
}

.footer-contact {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 40px;
    a {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}

.footer-icons {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
    a {
        display: block;
        font-size: 24px;
        i {
            height: 100%;
            width: 100%;
            &:before {
                height: 100%;
                width: 100%;  
            }
        }
    }
}

.footer-name {
   color: $accent-clr;
}

@media screen and (max-width: 800px){
    .footer-icons a {
        font-size: 28px;
    }
}

@media screen and (max-width: 650px){
    footer .container h2 {
        text-align: center;
    }
    .footer-contact {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 500px) {
    .footer-icons {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
}