@import 'vars.scss';

header {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #e9f1fb;
    transition: all 0.2s ease;
    // TODO: add box shadow on scroll, header to change on scroll
    // box-shadow: 10px 10px 10px #d1d9e6, -10px -10px 10px #f9f9f9;
}

.container,
#main-menu {
    width: 100%;
    height: 100%;
}

#main-menu ul {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

li {
    font-size: 20px;
    &:hover {
        color: $accent-clr;
    }
    a {
        display: inline-block;
        text-transform: capitalize;
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        transition: all 0.2s ease;
        &:hover {
            border-radius: 12px;
            background: $btn-clr;
            box-shadow: 5px 5px 5px #d1d9e6, -5px -5px 5px #f9f9f9;
            color: $accent-clr;
            &:active {
                box-shadow: inset 5px 5px 5px #d1d9e6, inset -5px -5px 5px #f9f9f9;
            }
        }
    }
}

.header-scroll {
    height: 60px;
    box-shadow: 5px 5px 5px #d1d9e6, -5px -5px 5px #f9f9f9;
}