@import 'vars.scss';

#projects {
    padding: 40px 0;
    scroll-margin-top: 30px;
    h2 {
        margin-bottom: 40px;
    }
}

.carousel__slide {
    padding: 0 10px;
    transition: all 0.2s ease;
    &:hover .img-wrap img {
        transform: scale(0.95);
    }
}

.carousel__prev {
    left: -7%;
    top: 43%;
    padding: 10px;
    border-radius: 12px;
    &:hover {
        box-shadow: 5px 5px 5px #d1d9e6, -5px -5px 5px #f9f9f9;
        color: $accent-clr;
    }
    &:active {
        box-shadow: inset 5px 5px 5px #d1d9e6, inset -5px -5px 5px #f9f9f9;
    }
}

.carousel__next {
    right: -7%;
    top: 43%;
    padding: 10px;
    border-radius: 12px;
    &:hover {
        box-shadow: 5px 5px 5px #d1d9e6, -5px -5px 5px #f9f9f9;
        color: $accent-clr;
    }
    &:active {
        box-shadow: inset 5px 5px 5px #d1d9e6, inset -5px -5px 5px #f9f9f9;
    }
}

.content-wrap {
    a {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        overflow: hidden;
        &:hover {
            opacity: 0.8;
            background: transparent;
            box-shadow: none;
        }
    }
    p {
        padding: 20px;
        box-shadow: inset 10px 10px 10px #d1d9e6, inset -10px -10px 10px #f9f9f9;
        border-radius: 12px;
    }
}


.img-wrap {
    border-radius: 12px;
    height: 100%;
    width: 100%;
    aspect-ratio: 2 / 1;
    overflow: hidden;
    margin-bottom: 20px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: all 0.2s ease;
        border-radius: 12px;
    }
}

@media screen and (max-width: 1400px) {
    .carousel__next, .carousel__prev {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    #projects {
        padding: 20px 0;
    }
}