*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e9f1fb;
    font-family: 'Ubuntu', sans-serif;
    color: #181818;
    font-size: 1rem;
    line-height: 1.5rem;
    scroll-behavior: smooth;
}

.hidden {
	overflow: hidden;
}

.frame-container {
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

.container {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a, button {
    transition: all .2s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

ol, ul {
    list-style: none;
}

// HEADINGS

h1 {
    font-size: 64px;
    line-height: 72px;
}

h2 {
    font-size: 32px;
    line-height: 42px;
}

h3 {
    font-size: 22px;
    line-height: 26px;
}

h4 {
    font-size: 18px;
    line-height: 26px;
}